:root {
    --main-bg-color: #2f2519;
}

.logo {
    max-height: 3em;
}

#tituloCarta {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 2em 0;
}

.precio {
    display: flex;
    align-items: center;
}

.precio img {
    margin: 0.5em;
    min-width: 1.5em;
}

#datosPedido {
    display: none;
}

#precioTotalPedido {
    display: none;
}

.indice {
    width: 100%;
    font-weight: 500;
}

.carrito,
.indice,
#pagar input {
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
}

.indice span {
    text-decoration: underline;
    font-size: 1.25em;
}

img {
    float: right;
}

.indiceProductos:hover,
.precio img:hover {
    cursor: pointer;
}

.listaProductos {
    display: none;
}

img.icono {
    transition: all 0.15s;
}

img.icono-rotado {
    transform: rotate(90deg);
}

.d-flex {
    padding-bottom: 0.5em;
}

.indiceProductos {
    border-bottom: 1px solid #b3acac;
    padding: 0.5em 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

ul.listaCarta>li {
    color: #9e9e9e;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
    padding: 1em 0;
}

.colorPrincipal,
.indiceProductos {
    color: #2f2519;
}

.indice {
    background-color: #ff4301;
    padding-top: 1em;
    font-size: 1.2em;
    height: 23em;
}

@media only screen and (min-width: 769px) {
    .indice {
        position: -webkit-sticky;
        position: sticky;
        top: 2em;
    }
}

.principal {
    margin: 0!important;
    padding: 0!important;
}

.listaCarta a {
    color: var(--main-bg-color);
}


/* Carrito */

#colCarrito {
    margin: 0!important;
    padding: 0!important;
}

.carrito {
    background-color: #ff4301;
    padding: 1em;
}

.carrito ul {
    border-bottom: 2px solid var(--main-bg-color);
}

.carrito li {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .carrito li {
        display: block;
    }
    .carrito ul b,
    .carrito ul input {
        float: inherit;
    }
}

.carrito span {
    display: block;
    margin-bottom: 5px;
}

.carrito ul b,
.carrito ul input {
    float: left;
}

.carrito input {
    margin: 5px 0px;
    display: inline-block;
    vertical-align: middle;
    clear: left;
}

input[type=submit] {
    width: 100%;
    font-size: 1.5em;
    background-color: #fa7d09;
}


/* Fin carrito */