:root {
    --main-bg-color: #2f2519;
}


/* Contenido */

#contenido div {
    width: fit-content;
    margin: auto;
}

#contenido>p {
    text-align: center;
    margin-top: 2em;
}

#contenido>div>p {
    text-align: center;
}

#contenido>div>p:first-child {
    margin-top: 2em;
}

body p {
    font-size: 1.25em;
}


/* Fin contenido */


/* Carrusel */

.carousel-inner {
    max-height: 650px;
    width: 100% !important;
}

.carousel-inner {
    margin-bottom: 2em;
}


/* Fin carrusel */


/* Contenido */

#contenido img {
    max-width: 30em;
}

@media only screen and (max-width: 560px) {
    #contenido img {
        width: 100%;
    }
}

#contenido span {
    margin: 1em;
}


/* Fin contenido /*