:root {
    --main-bg-color: #2f2519;
}


/* Nav */

nav,
footer {
    background-color: var(--main-bg-color);
    margin-bottom: 1em;
}

nav a,
.dropdown button,
footer a {
    color: white;
}

nav>div.container {
    display: flex;
    justify-content: space-between;
}

.navbar-collapse {
    justify-content: flex-end!important;
}

#navbarSupportedContent {
    justify-content: space-between;
}

.dropdown button:hover,
nav a:hover {
    color: #ff4301;
}

nav img {
    min-height: 2em;
}

.logo {
    max-height: 3em;
}

.colorPrincipal,
.indiceProductos {
    color: #2f2519;
}

nav img {
    float: right;
}


/* Fin nav */


/* Zona pedidos */

.pedido {
    width: 100%;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
}

.datosPersonales {
    display: flex;
    justify-content: space-between;
}


/* Fin zona pedidos */


/* Footer */

.footer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.footer>* {
    flex: 1 100%;
}

.footerDireccion {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footerDireccion h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer h2 {
    font-size: 1.2rem;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer {
    color: white;
    margin-top: 2em;
}

.footerNavegacion {
    display: flex;
    flex-flow: row wrap;
}

.footerEnviarCorreo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    max-width: max-content;
    font-size: 1em;
}


/* Lo que ocupa cada cosa en el footer */

.footerNavegacion>* {
    flex: 1;
}

.footerDireccion {
    flex: 1 0px;
}

.footerNavegacion {
    flex: 2 0px;
}


/* Fin footer */